<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<h1>Christian Gibbons's Projects</h1>


<table>
  <tr>
    <th>[No.]</th>
    <th class=thleft>[Project]</th>
    <td rowspan ="0" width = "50%"><span id=youtube></span></td>
  <tr>
    <th colspan ="2">Robotics </th>
  </tr>
  <tr>
    <td>1. </td>
    <td><span id=p1 class=link>Diff Drive Robot Basic Movement</span>
    <a href="https://github.com/Christian-Gibbons/ece-499-590-assignment1-fall-2014-Gibbons">(github repo)</a></td>
  </tr>
  <tr>
    <td>2. </td>
    <td><span id=p2 class=link>Diff Drive Robot with HID Controller</span>
    <a href= "https://github.com/Christian-Gibbons/ece499-590-hw3-fall-2014-Gibbons">(github repo)</a> </td>
  </tr>
  <tr>
    <td>3. </td>
    <td><span id=p3 class=link>Balance on One Leg with Hubo</span>
    <a href= "https://github.com/Christian-Gibbons/hubo-monoped-balance/tree/midterm">(github repo)</a></td>
  </tr>
  <tr>
    <td>4. </td>
    <td><span id=p4 class=link>Object Tracking with openCV</span>
    <a href= "https://github.com/Christian-Gibbons/ece-499-590-hw5-fall-2014-Gibbons">(github repo)</a></td>
  </tr>
  <tr>
    <td>5. </td>
    <td><span id=p5 class=link>Object Following with openCV</span>
    <a href="https://github.com/Christian-Gibbons/ece-499-590-assignment2-fall-2014-Gibbons">(github repo)</a></td>
  </tr>
  <tr>
    <td>6. </td>
    <td><span id=p6 class=link>Depth Tracking with Stereovision in openCV</span>
    <a href= "https://github.com/Christian-Gibbons/ece-499-590-hw6-fall-2014-Gibbons">(github repo)</a></td>
  </tr>
  <tr>
    <td>7. </td>
    <td><span id=p7 class=link>Statically Stable Walking with Hubo</span>
    <a href= "https://github.com/Christian-Gibbons/hubo_walk/tree/master">(github repo)</a></td>
  </tr>
  <tr>
    <td>8. </td>
    <td><span id=p8 class=link>Object Following with openCV in the Real World</span>
  <a href= "https://github.com/arctiksilver/ECE-590/tree/InClassAssignment3">(github repo)</a> </td>
  </tr>
  <tr>
    <td>9. </td>
    <td><span id=p9 class=link>Face Tracking/Following with openCV</span>
  <a href= "https://github.com/mreyeslo1/hw8">(github repo)</a> </td>
  </tr>
  <tr>
    <td>10. </td>
    <td><span id=p10 class=link>Hubo walking by Android Smartphone command</span>
  <a href= "https://github.com/mreyeslo1/termproject">(github repo)</a> </td>
  </tr>
  <tr>
    <th colspan="2">Games </th>
  </tr>
  <tr>
    <td>1. </td>
    <td><span id=g1 class=link>Susie's Summer Home</span> <a href= "http://archive.globalgamejam.org/2012/susies-summer-home">(Global Game Jam page)</a></td>
  </tr>
  <tr>
    <td>2. </td>
    <td><span id=g2 class=link>Dog Catcher</span> <a href= "https://github.com/christian-gibbons/digital-template">(github repo)</a> </td>
  </tr>
  <tr>
    <td>3. </td>
    <td><span id=g3 class=link>Crazy Cat Lady</span> <a href= "https://github.com/christian-gibbons/box-o-kittens">(github repo)</a> </td>
  </tr>
  <tr>
    <td>4. </td>
    <td><span id=g4 class=link>Reluctant Ball Player</span> <a href= "https://github.com/christian-gibbons/reluctant-protagonist">(github repo)</a> </td>
  </tr>
  <tr>
    <td rowspan="0" colspan="0"></td> 
    <!-- invisible row expands if the column on the right gets too big for the table to preserve formatting. -->
  <tr>
  
</table>

<br>


