// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thleft{
  text-align: left;
}

.selected{
  color: darkred !important;
  opacity: 1 !important;
  font-weight: bold;
}

.hover{
  opacity: .5;
  color: red;
}